<div class="row">
  <div class="col-xs-10">
    <!-- <app-shopping-edit (onAddItemEvent)="onAddShoppingItem($event)" [ingredientList]="ingredients"></app-shopping-edit> -->
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredientElement of ingredients; let i = index"
        (click)="onEditedItem(i)">
        {{ ingredientElement.name }} ({{ ingredientElement.amount }})
      </a>
    </ul>
  </div>
</div>
